.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.navbar,
.history,
.samples,
.download,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 10px;
    color: #FFF;
    background-color: #000;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    background-color: #D00A0A;
}

.jumbotron h1{
    color: #F77000;
}


.panel-shell {
  border-color: #DDDDDD;
  background-color: #3D3D3D;
}

.panel-shell > .panel-heading {
  padding: 0px 15px;
  background-color: #F7F7F7;*/
  background-image: -moz-linear-gradient(to bottom right, red, rgba(255,0,0,0));
}

.panel-shell > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #428bca;
}

.panel-shell > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #428bca;
}

.path{
    color: #87CEEB;
}
.prompt{
    color: #CD5C5C;
}
.command{
    color: #F0E68C;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    /* .nav,
    .history,
    .samples,
    .download,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    */

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
